<div class="row">
	<p class="box-title"></p>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="table-responsive">
			<table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
				<thead>
					<tr>
						<th>ID</th>
						<th>Description</th>
						<th>Full Name</th>
						<th>Hostname</th>
						<th>Timestamp</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>