<div class="row">
  <div class="col-md-3">
    <div class="white-box">
      <center>
        <h3 class="box-title m-b-0">Subject Schedule</h3>
        <p class="text-muted m-b-30 font-13"> Enter details below</p>
      </center>
      <form class="no-bg-addon">
        <div class="form-group">
          <label>Grade Level</label>
          <select class="form-control" id="grade_level" name="grade_level" required onchange="selectSubject(this.value)">
            <option selected disabled>Select Grade Level</option>
            <option>Kinder 1</option>
            <option>Kinder 2</option>
            <option>Grade 1</option>
            <option>Grade 2</option>
            <option>Grade 3</option>
            <option>Grade 4</option>
            <option>Grade 5</option>
            <option>Grade 6</option>
          </select>
        </div>

        <div class="form-group">
          <label>Subjects</label>
          <select class="form-control" id="subjects" name="subjects" required>
            
          </select>
        </div>

        <div class="form-group">
          <label>Faculty</label>
          <select class="form-control" id="faculty" name="faculty" required>
            
          </select>
        </div>

        <div class="form-group">
          <label>From Date</label>
          <input type="date" class="form-control" id="from_date" name="from_date">
        </div>

        <div class="form-group col-md-6">
          <label>From Time</label>
          <input type="time" class="form-control" id="from_time" name="from_time">
        </div>

        <!-- <div class="form-group col-md-6">
          <label>To Date</label>
          <input type="date" class="form-control" id="to_date" name="to_date">
        </div> -->

        <div class="form-group col-md-6">
          <label>To Time</label>
          <input type="time" class="form-control" id="to_time" name="to_time">
        </div>

        <!-- <div class="form-group">
          <label>Occurence</label>
          <select class="form-control" id="occurence" name="occurence" required>
            <option>This day only</option>
            <option>Everyday same time</option>
            <option></option>
          </select>
        </div> -->

        <button type="submit" class="btn btn-block btn-danger btn-lg btn-rounded">Submit</button>
      </form>
    </div>

  </div>
  <div class="col-md-9">
    <div class="white-box">
      <div id="calendar"></div>
    </div>
  </div>
</div>