<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block bg-theme waves-effect waves-light"
        onclick="addStudent()" style="color: aliceblue;">
        <i class="fa fa-plus m-r-5"></i> Add Student
      </button>
    </div>
  </h3>
  <br /><br />
  <div class="col-md-4">
    <h3>Filter Enrolled Student</h3>
    <div class="form-group">
      <label for="Name">Grade Level</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="grade_level_filter">
          <option selected disabled>Select Grade Level</option>
          <option>Kinder 1</option>
          <option>Kinder 2</option>
          <option>Grade 1</option>
          <option>Grade 2</option>
          <option>Grade 3</option>
          <option>Grade 4</option>
          <option>Grade 5</option>
          <option>Grade 6</option>
          <option value="">All</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="Name">Gender</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="gender_filter">
          <option value="">All</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>

    <button type="button" class="btn btn-primary" onclick="filter()">FILTER</button>
  </div>

  <div class="col-md-8 col-sm-8 col-xs-8 table-responsive">
    <table id="datatable" class="table table-striped" role="grid"
      aria-describedby="datatable_info">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>SN</th>
          <th>Grade Level</th>
          <th>First Name</th>
          <th>Middle</th>
          <th>Last Name</th>
          <th>Approved By</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 100%;">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">×</button>
          <h4 class="modal-title">Student Number : <b id="student_number"></b></h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId"
              value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction"
              value="add">
          </div>
          <!--Hidden Inputs-->

          <div class="row">
            <div class="col-md-6">
              <h3>Student Information</h3>
              <table class="table">
                <tr>
                  <td colspan="2" rowspan="3">
                    <center>
                      <img src="plugins/images/users/1.jpg" width="50%"
                        id="image_2x2">
                    </center>

                  </td>
                  <td>Complete Name :</td>
                  <td><b id="fname">Test Name</b> <b id="mname">Test Name</b> <b
                      id="lname">Test Name</b></td>
                </tr>
                <tr>
                  <td>Grade Level / Section : </td>
                  <td><b id="grade_level">Gender</b> / <b id="section">Gender</b></td>
                </tr>
                <tr>
                  <td>Gender : </td>
                  <td><b id="gender">Gender</b></td>
                </tr>
                <tr>
                  <td>Contact Number</td>
                  <td><b id="contact_number"></b></td>
                  <td>Birthdate : </td>
                  <td><b id="birthday">Gender</b></td>
                </tr>
                <tr>
                  <td>Address : </td>
                  <td><b id="address">Gender</b></td>
                  <td>Place of Birth : </td>
                  <td><b id="place_of_birth">Gender</b></td>
                </tr>
                <tr>
                  <td>Prev School : </td>
                  <td><b id="prev_school">Gender</b></td>
                  <td>LRN # : </td>
                  <td><b id="lrn">Gender</b></td>
                </tr>
                <tr>
                  <td>Father's Name : </td>
                  <td><b id="fathers_name">Gender</b></td>
                  <td>Mother's Name : </td>
                  <td><b id="mothers_name">Gender</b></td>
                </tr>
                <tr>
                  <td>Name of Guardian : </td>
                  <td><b id="name_of_guardian">Gender</b></td>
                  <td>Relationship to Student : </td>
                  <td><b id="relationship_student">Gender</b></td>
                </tr>
              </table>
            </div>

            <div class="col-md-6">
              <div class="white-box">
                <h3 class="box-title m-b-0">Documents</h3>
                <p class="text-muted m-b-40">Student Documents</p>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home"
                      aria-controls="home" role="tab"
                      data-toggle="tab" aria-expanded="true"><span
                        class="visible-xs"><i
                          class="ti-home"></i></span><span class="hidden-xs">
                        Report Card</span></a></li>
                  <li role="presentation" class=""><a href="#profile"
                      aria-controls="profile" role="tab"
                      data-toggle="tab" aria-expanded="false"><span
                        class="visible-xs"><i class="ti-user"></i></span>
                      <span class="hidden-xs">Birth Certificate</span></a></li>
                  <li role="presentation" class=""><a href="#messages"
                      aria-controls="messages" role="tab"
                      data-toggle="tab" aria-expanded="false"><span
                        class="visible-xs"><i class="ti-email"></i></span>
                      <span class="hidden-xs">2x2 Picture</span></a></li>
                  <li role="presentation" class=""><a href="#payments"
                      aria-controls="payments" role="tab"
                      data-toggle="tab" aria-expanded="false"><span
                        class="visible-xs"><i class="ti-email"></i></span>
                      <span class="hidden-xs">Payments</span></a></li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="col-md-12">
                      <img style="width:100%" id="report_grade" src="" alt="Report Grade">
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="col-md-12">
                      <img style="width:100%" src="" alt="Birth Certificate"
                        id="birth_certificate">
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="messages">
                    <div class="col-md-12">
                      <img id="image_2x2_download" style="width:100%" src="" alt="2x2 Picture">
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="payments">
                    <div class="col-md-12">
                      Transaction Type: <label id="transaction_type"></label><br/>
                        Balance: <label id="total_balance"></label>

                        <br/>
                        <hr />
                        <table class="table table-striped">
                          <caption>REQUIRED PAYMENTS</caption>
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Description</th>
                              <th>Billed Date</th>
                              <th>Amount</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody id="all_payments"></tbody>
                        </table>
                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->


  <div id="studentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog" style="width: 50%">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Student Information</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          
          <h4>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Username">First Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" required name="fname">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Username">Middle Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" required name="mname">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Username">Last Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" required name="lname">
                  </div>
                </div>
              </div>
            </div>
            
          </h4>
          <hr/>
          <div class="row">
            <div class="col-md-6">
            
              <div class="form-group">
                <label for="Username">Grade Level</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <select class="form-control" name="grade_level">
                    <option selected disabled>Select Grade Level</option>
                    <option>Kinder 1</option>
                    <option>Kinder 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 3</option>
                    <option>Grade 4</option>
                    <option>Grade 5</option>
                    <option>Grade 6</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Section</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="section">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Birth Date</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                  <input type="date" class="form-control" required name="birthday">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Gender</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                  <select class="form-control" name="gender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group">
                <label for="Username">Address</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="address">
                </div>
              </div>
    
              <div class="form-group">
                <label for="Username">Place of Birth</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" name="place_of_birth">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Previous School Attended</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="prev_school">
                </div>
              </div>
            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label for="Username">Father's Name</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="fathers_name">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Mother's Name</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="mothers_name">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Name of Guardian</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="name_of_guardian">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Relationship to Student</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="relationship_student">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Contact Number</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="contact_number">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Email</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="email">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">LRN</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="lrn">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>