<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block bg-theme waves-effect waves-light" id="addModal" style="color: aliceblue;">
        <i class="fa fa-plus m-r-5"></i> Add
      </button>
    </div>
  </h3>
    <br /><br />

    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
      <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <thead>
          <tr>
            <th>#</th>
            <th>Payment Code</th>
            <th>Description</th>
            <th>Cash</th>
            <th>Semestral</th>
            <th>Quarterly</th>
            <th>Monthly</th>
            <th>Easy Payment Scheme</th>
            <th>Added By</th>
          </tr>
        </thead>  
        <tbody></tbody>
      </table>
      <br/><br/>
      <h4>Break Down of Computation</h4>
      <table class="table table-striped" role="grid">
          <thead>
            <tr>
              <th colspan="3"></th>
              <th>Cash</th>
              <th>Semestral</th>
              <th>Quarterly</th>
              <th>Monthly</th>
              <th>Easy Payment Scheme</th>
            </tr>
          </thead>
          <tbody>
            <tr class="danger">
              <td colspan="3">Initial Payment Upon Enrollment</td>
              <td id="dp_1"></td>
              <td id="dp_2"></td>
              <td id="dp_3"></td>
              <td id="dp_4"></td>
              <td id="dp_5"></td>
            </tr>
            <tr class="info">
              <td colspan="3">Discount and Interest base on Tuition fee Php <b id="tuition_fee"></b></td>
              <td id="d_i_1">- 5%</td>
              <td id="d_i_2">+ 5%</td>
              <td id="d_i_3">+ 8%</td>
              <td id="d_i_4">+ 10%</td>
              <td id="d_i_5">+ 10%</td>
            </tr>
            <tr class="info">
              <td colspan="3">Total Amount of Tuition Fee Paid</td>
              <td id="compute_1"></td>
              <td id="compute_2"></td>
              <td id="compute_3"></td>
              <td id="compute_4"></td>
              <td id="compute_5"></td>
            </tr>
            <tr class="success">
              <td colspan="3">Overall Payment Amount</td>
              <td id="sum_1"></td>
              <td id="sum_2"></td>
              <td id="sum_3"></td>
              <td id="sum_4"></td>
              <td id="sum_5"></td>
            </tr>
            <tr class="warning">
              <td colspan="3">Remaining Balance Upon Initial Payment</td>
              <td id="bal_1"></td>
              <td id="bal_2"></td>
              <td id="bal_3"></td>
              <td id="bal_4"></td>
              <td id="bal_5"></td>
            </tr>
            <tr class="warning">
              <td colspan="3">Number of Installments and Amount</td>
              <td id="inst_1"></td>
              <td id="inst_2"></td>
              <td id="inst_3"></td>
              <td id="inst_4"></td>
              <td id="inst_5"></td>
            </tr>
          </tbody>
      </table>
    </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <div class="form-group">
            <label for="Username">Description</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="description">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Include to Regular Payment</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-wallet"></i></div>
              <select class="form-control" name="is_included">
                <option>YES</option>
                <option>NO</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Cash</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="cash" value="0">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Semestral</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="semestral" value="0">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Quarterly</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="quarterly" value="0">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Monthly</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="monthly" value="0">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Easy Payment Scheme</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="easy_payment_scheme" value="0">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->