<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block bg-theme waves-effect waves-light" id="addModal" style="color: aliceblue;">
        <i class="fa fa-plus m-r-5"></i> Add
      </button>
    </div>
  </h3>
    <br /><br />

    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
      <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <thead>
          <tr>
            <th>#</th>
            <th>Emp ID</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Created At</th>
            <th>Added By</th>
          </tr>
        </thead>  
        <tbody></tbody>
      </table>
    </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <div class="form-group">
            <label for="Username">Employee ID</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="emp_id">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">First Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="fname">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Middle Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="mname">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Last Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="lname">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Position</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="position">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Email</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="email">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->