<div class="row">
  <div class="col-md-4">
    <h3>Filter Student Registration</h3>
    <div class="form-group">
      <label for="Name">Grade Level</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="grade_level">
          <option selected disabled>Select Grade Level</option>
          <option>Kinder 1</option>
          <option>Kinder 2</option>
          <option>Grade 1</option>
          <option>Grade 2</option>
          <option>Grade 3</option>
          <option>Grade 4</option>
          <option>Grade 5</option>
          <option>Grade 6</option>
          <option value="">All</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="Name">Gender</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="gender">
          <option value="">All</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="Name">Registration Status</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="status">
          <option>PENDING</option>
          <option>APPROVED</option>
          <option>REJECTED</option>
        </select>
      </div>
    </div>

    <button type="button" class="btn btn-primary" onclick="filter()">FILTER</button>
  </div>

  <div class="col-md-8 col-sm-8 col-xs-8 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>Grade Level</th>
          <th>First Name</th>
          <th>Middle</th>
          <th>Last Name</th>
          <th>Address</th>  
          <th>Contact</th>
          <th>Registration Date</th>        
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Student Registration Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->
          <h4>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Username">First Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" required name="fname">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Username">Middle Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" required name="mname">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Username">Last Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" required name="lname">
                  </div>
                </div>
              </div>
            </div>
            
          </h4>
          <hr/>
          <div class="row">
            <div class="col-md-6">
            
              <div class="form-group">
                <label for="Username">Grade Level</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="grade_level">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Birth Date</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                  <input type="date" class="form-control" required name="birthday">
                </div>
              </div>
    
              <div class="form-group">
                <label for="Username">Address</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="address">
                </div>
              </div>
    
              <div class="form-group">
                <label for="Username">Place of Birth</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" name="place_of_birth">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Previous School Attended</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="prev_school">
                </div>
              </div>
            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label for="Username">Father's Name</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="fathers_name">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Mother's Name</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="mothers_name">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Name of Guardian</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="name_of_guardian">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Relationship to Student</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="relationship_student">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Contact Number</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="contact_number">
                </div>
              </div>

              <div class="form-group">
                <label for="Username">Email</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-email"></i></div>
                  <input type="text" class="form-control" required name="email">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="float:left" class="btn btn-danger waves-effect waves-light" id="deleteButton">Reject Registration</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Approve Registration</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
