<div class="row">
  <div class="col-md-6" style="background-color:aliceblue">
    <h3>Payment Summary </h3>
    <label> For the year </label>
		<select id="year" onchange="loadLineChart()">
			<option >2021</option>
			<option selected>2022</option>
			<option >2023</option>
			<option >2024</option>
			<option >2024</option>
			<option >2025</option>
      <option >2026</option>
		</select>
		<label> For the Month of </label>
		<select id="month" onchange="loadLineChart()">
			<option selected value="">Select Month</option>
			<option value="01">Jan</option>
			<option value="02">Feb</option>
			<option value="03">Mar</option>
			<option value="04">Apr</option>
			<option value="05">May</option>
			<option value="06">Jun</option>
			<option value="07">Jul</option>
			<option value="08">Aug</option>
			<option value="09">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option>
		</select>
    <div id="line-chart"></div>
  </div>
    
  <div class="col-md-6">
    <div class="white-box" style="background-color:aliceblue">
      <h3 class="box-title">Statistics for this school year</h3>
      <div id="morris-donut-chart" style="height: 200px"></div>
      <div class="row p-t-30">
        <div class="col-xs-8 p-t-30">
          <h3 class="font-medium">Number of Students</h3>
          <h5 class="text-muted m-t-0">Per Grade Level</h5>
        </div>
        <div class="col-xs-4 p-t-30">
          <div class="circle-md pull-right circle bg-info"><i class="ti-user"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No. of Pending Registration</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-user" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?student_registration"><span class="counter" id="no_of_pending_registration" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-6 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No. of Pending Evaluation</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-user" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?evaluation"><span class="counter" id="no_of_pending_evaluation" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No. of Registered Students</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-user" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?student_registration"><span class="counter" id="no_registered_students" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No. of Enrolled Students</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-user" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?students"><span class="counter" id="no_of_enrolled_students"
              style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No. of Pending Payments</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-wallet" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?payments_approval"><span class="counter" id="no_pending_payments" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No. of Faculties</h3>
      <ul class="list-inline two-part">
        <li><i class="icon-location-pin" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?faculty"><span class="counter" id="no_of_faculties" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  
</div>