<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block btn-primary waves-effect waves-light"
        id="addModal">
        <i class="fa fa-plus m-r-5"></i> Add
      </button>
    </div>
  </h3>
  <br /><br />

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid"
      aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Image</th>
          <th>Created By</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">×</button>
          <h4 class="modal-title">Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId"
              value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction"
              value="add">
          </div>
          <!--Hidden Inputs-->

          <div class="form-group">
            <label for="Name">Description</label>

            <textarea class="form-control" required name="description"></textarea>
          </div>

          <div class="form-group">
            <label for="Name">Banner</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-text"></i></div>
              <input type="file" class="form-control" name="file"
                id="image_file">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
