<div class="row">
  <div class="col-md-4">
    <h3>Filter Student Evaluation</h3>
    <div class="form-group">
      <label for="Name">Grade Level</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="grade_level_filter">
          <option selected disabled>Select Grade Level</option>
          <option>Kinder 1</option>
          <option>Kinder 2</option>
          <option>Grade 1</option>
          <option>Grade 2</option>
          <option>Grade 3</option>
          <option>Grade 4</option>
          <option>Grade 5</option>
          <option>Grade 6</option>
          <option value="">All</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="Name">Gender</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="gender_filter">
          <option value="">All</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="Name">Enrollment Status</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="status_filter">
          <option>PENDING</option>
          <option>PENDING FOR INTIAL DP</option>
          <!-- <option>ENROLLED</option> -->
          <option>REJECTED</option>
        </select>
      </div>
    </div>

    <button type="button" class="btn btn-primary" onclick="filter()">FILTER</button>
  </div>

  <div class="col-md-8 col-sm-8 col-xs-8 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>SN</th>
          <th>Grade Level</th>
          <th>First Name</th>
          <th>Middle</th>
          <th>Last Name</th>
          <th>Approved By</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 100%;">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Student Evaluation Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <div class="row">
            <div class="col-md-6">
              <h3>Student Information</h3>
              <table class="table">
                <tr>
                  <td colspan="2" rowspan="3">
                    <center>
                      <img src="plugins/images/users/1.jpg" width="50%" id="image_2x2">
                    </center>

                  </td>
                  <td>Complete Name :</td>
                  <td><b id="fname">Test Name</b> <b id="mname">Test Name</b> <b id="lname">Test Name</b></td>
                </tr>
                <tr>
                  <td>Grade Level : </td>
                  <td><b id="grade_level">Gender</b></td>
                </tr>
                <tr>
                  <td>Gender : </td>
                  <td><b id="gender">Gender</b></td>
                </tr>
                <tr>
                  <td>Contact Number</td>
                  <td><b id="contact_number"></b></td>
                  <td>Birthdate : </td>
                  <td><b id="birthday">Gender</b></td>
                </tr>
                <tr>
                  <td>Address : </td>
                  <td><b id="address">Gender</b></td>
                  <td>Place of Birth : </td>
                  <td><b id="place_of_birth">Gender</b></td>
                </tr>
                <tr>
                  <td>Prev School : </td>
                  <td><b id="prev_school">Gender</b></td>
                  <td>LRN # : </td>
                  <td><b id="lrn">Gender</b></td>
                </tr>
                <tr>
                  <td>Father's Name : </td>
                  <td><b id="fathers_name">Gender</b></td>
                  <td>Mother's Name : </td>
                  <td><b id="mothers_name">Gender</b></td>
                </tr>
                <tr>
                  <td>Name of Guardian : </td>
                  <td><b id="name_of_guardian">Gender</b></td>
                  <td>Relationship to Student : </td>
                  <td><b id="relationship_student">Gender</b></td>
                </tr>
              </table>
            </div>
            <div style="border-left: 2px solid gray;
            height: 88%;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 0;"></div>
            <div class="col-md-4">
              <!-- <div class="white-box">
                <h3 class="box-title m-b-0">Documents</h3>
                <p class="text-muted m-b-40">Requirements for Enrollment</p>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                      data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i
                          class="ti-home"></i></span><span class="hidden-xs"> Report Card</span></a></li>
                  <li role="presentation" class=""><a href="#profile" aria-controls="profile" role="tab"
                      data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span>
                      <span class="hidden-xs">Birth Certificate</span></a></li>
                  <li role="presentation" class=""><a href="#messages" aria-controls="messages" role="tab"
                      data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span>
                      <span class="hidden-xs">2x2 Picture</span></a></li>
                  <li role="presentation" class=""><a href="#payments" aria-controls="payments" role="tab"
                      data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span>
                      <span class="hidden-xs">Payment Method</span></a></li>
                </ul>
    
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="col-md-12">
                      Insert image 1
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="col-md-12">
                      Insert image 2
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="messages">
                    <div class="col-md-12">
                      Insert image 3
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="payments">
                    <div class="col-md-12">
                      Payments
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div> -->
              
              <table class="table">
                <caption>Requirements</caption>
                <tr>
                  <td>2x2 Image</td>
                  <td><img src="" id="image_2x2_download" alt="NO IMAGE" style="width:100%"></td>
                  <!-- <td><a href="" download id="image_2x2_download">Download</a></td> -->
                </tr>
                <tr>
                  <td>Birth Certificate</td>
                  <td><img src="" id="birth_certificate" alt="NO IMAGE" style="width:100%"></td>
                  <!-- <td><a href="" download id="birth_certificate">Download</a></td> -->
                </tr>
                <tr>
                  <td>Report of Grade</td>
                  <td><img src="" id="report_grade" alt="NO IMAGE" style="width:100%"></td>
                  <!-- <td><a href="" download id="report_grade">Download</a></td> -->
                </tr>
                <tr>
                  <td>Payment Option</td>
                  <td><label id="transaction_type"></label></td>
                </tr>
                <tr>
                  <td>Balance</td>
                  <td><label id="total_balance"></label></td>
                </tr>
              </table>
            
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" style="float:left" class="btn btn-danger waves-effect waves-light"
              id="deleteButton">Reject Enrollment</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light">Approve Enrollment</button>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->