<div class="row">
  <div class="col-md-4">
    <h3>Select My Class</h3>
    <div class="form-group">
      <label for="Name">Grade Level</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="grade_level" onchange="subjectHandledLookUp(this.value)">
          <option selected disabled>Select Grade Level</option>
          <option>Kinder 1</option>
          <option>Kinder 2</option>
          <option>Grade 1</option>
          <option>Grade 2</option>
          <option>Grade 3</option>
          <option>Grade 4</option>
          <option>Grade 5</option>
          <option>Grade 6</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="Name">Subject Handled</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="subject_handled">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="Name">Grading</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="grading">
          <option value="first">First Grading</option>
          <option value="second">Second Grading</option>
          <option value="third">Third Grading</option>
          <option value="fourth">Fourth Grading</option>
        </select>
      </div>
    </div>

    <button type="button" class="btn btn-primary" style="float:right" onclick="filter()">Proceed</button>
  </div>
  <div class="col-md-8 table-responsive">
    <h3>Input Student Grades</h4>
      <h4>Subject : <label id="subject"></label></h4>
      <table id="datatable" class="table table-striped table-bordered" role="grid" aria-describedby="datatable_info">
        <thead>
          <tr>
            <th>Stud#</th>
            <th>Name</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>4th</th>
            <th>Final Grade</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <br/>
      <button class="btn btn-block bg-theme waves-effect waves-light" style="color: aliceblue;" onclick="saveChanges()">
        <i class="fa fa-check m-r-5"></i> Save Changes
      </button>
  </div>
</div>