<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block bg-theme waves-effect waves-light" id="addModal" style="color:white;">
        <i class="fa fa-plus m-r-5"></i> Add Payment
      </button>
      
    </div>
    <div class="col-md-4">
      <div class="btn-group dropdown">
        <button aria-expanded="false" data-toggle="dropdown"
          class="btn bg-theme dropdown-toggle waves-effect waves-light" type="button" style="color:white;">View Payments&nbsp;<span
            class="caret"></span></button>
        <ul role="menu" class="dropdown-menu animated">
          <li><a href="#" onclick="viewApproved()">View Approved</a></li>
          <li><a href="#" onclick="viewRejected()">View Rejected</a></li>
          <li><a href="#" onclick="viewPending()">View Pending</a></li>
          <li><a href="#" onclick="viewAll()">View All</a></li>
        </ul>
      </div>
    </div>

    <br /><br />
  </h3>
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>Student</th>
          <th>Total Amount</th>
          <th>Remarks</th>
          <th>Approved By</th>
          <th>Date Approved</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">View Student Payment</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->
          
          <div class="form-group">
            <label for="branch_name">Student Number</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="text" class="form-control" required name="student_number" id="student_number">
              <div class="input-group-addon"><button type="button" onclick="studentNumberLookUp()">SEARCH</button></div>
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">Student Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" required name="student_name" id="student_name" readonly>
            </div>
          </div>
          
          <div class="form-group">
            <h5 class="box-title">Existing Installments ( Php <b id="installment_amount"></b> )</h5>
            <select id='balances' multiple='multiple' style="width:100%" onchange="selectItemInstallments()">
            </select>
          </div>

          <div class="form-group">
            <label for="branch_name">Total Amount Paid</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="text" class="form-control" required name="amount" readonly id="total_amount">
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">Receipt</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="file" class="form-control" name="image_file" id="image_file">
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">Date</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <input type="date" class="form-control" required name="date_paid">
            </div>
          </div>
          <div class="form-group">
            <label for="branch_name">OR Number</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-card"></i></div>
              <input type="number" required class="form-control" name="or_number">
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="branch_name">Check No.</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-card"></i></div>
              <input type="number" class="form-control" name="check_no">
            </div>
          </div>
          <div class="form-group">
            <label for="branch_name">Check Details</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-card"></i></div>
              <input type="text" class="form-control" name="check_details">
            </div>
          </div>
          <div class="form-group">
            <label for="branch_name">Bank</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-bank"></i></div>
              <input type="text" class="form-control" name="bank">
            </div>
          </div>  -->

          <div class="form-group">
            <label for="location">STATUS</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <select class="form-control" required name="status">
                <option style="color: blue">PENDING</option>
                <option style="color: yellow">APPROVED</option>
                <option style="color: red">REJECTED</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">Remarks</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <textarea class="form-control" name="remarks"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->


<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Receipt Image</h4>
        </div>
        <div class="modal-body">

          <img src="plugins/images/no-item.png" alt="NO-IMAGE" id="receipt-image" style="width: 100%;">

        </div>

      </form>
    </div>
  </div>
</div>