<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Reports
        <div class="panel-action">
          <div class="dropdown"> <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#"
              aria-expanded="false" role="button">Choose <span class="caret"></span></a>
            <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
              <li role="presentation"><a onclick="enrolledStudents()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Enrolled Students</a></li>
              <li role="presentation"><a onclick="incomeReport()" role="menuitem"><i class="icon wb-reply"
                aria-hidden="true"></i> Income Report</a></li>
              <li role="presentation"><a onclick="reportOfGrades()" role="menuitem"><i class="icon wb-reply"
                  aria-hidden="true"></i> Report of Grades per Student</a></li>
              <!-- <li role="presentation"><a onclick="reportOfGradesPerGradeLevel()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Report of Grades per Grade Level</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-wrapper collapse in">
        <div class="panel-body">

          <div id="content">
            <h3 id="no_content">Please choose for reports</h3>

            <div id="daterange" style="display: none;">
              <div class="form-group">
                <label for="Username">
                  Date From
                </label>
                <input type="date" class="form-control" required id="date_from" name="date_from">
              </div>
              <div class="form-group">
                <label for="Username">
                  Date To
                </label>
                <input type="date" class="form-control" required id="date_to" name="date_to">
              </div>
            </div>

            <div id="enrolled_students" style="display: none;">
              <div class="form-group">
                <label for="Name">Grade Level</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-user"></i></div>
                  <select class="form-control" id="grade_level_filter">
                    <option selected disabled>Select Grade Level</option>
                    <option>Kinder 1</option>
                    <option>Kinder 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 3</option>
                    <option>Grade 4</option>
                    <option>Grade 5</option>
                    <option>Grade 6</option>
                    <option value="">All</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="Name">Section</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-user"></i></div>
                  <input type="text" id="section" class="form-control">
                </div>
              </div>
          
              <!-- <div class="form-group">
                <label for="Name">Gender</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-user"></i></div>
                  <select class="form-control" id="gender_filter">
                    <option value="">All</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
              </div> -->
            </div>

            <div id="report_of_grades" style="display: none;">
              <div class="form-group">
                <label for="Username">
                  Student Number
                </label>
                <input type="text" class="form-control" required id="student_number" name="student_number">
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="button" onclick="preview()">PREVIEW</button>
          <button class="btn btn-success" type="button" onclick="printReport('reports-content')"
            style="float:right">PRINT</button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div id="reports-content">

      <table border="1" style="width: 100%;" cellpadding="5px">
        <caption>
          <img src="plugins/images/lchs.png" align="right" HSPACE=”50” VSPACE=”50” style="width:10%">
          <span id="caption">Generated Report</span>
        </caption>
        <thead id="thead">
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
      <br />
      <div id="others" style="float:right">
      </div>
    </div>

  </div>

</div>