<div class="table-responsive">
  <div class="col-md-3">
    <select class="form-control" id="grade_level">
      <option>Kinder 1</option>
      <option>Kinder 2</option>
      <option>Grade 1</option>
      <option>Grade 2</option>
      <option>Grade 3</option>
      <option>Grade 4</option>
      <option>Grade 5</option>
      <option>Grade 6</option>
    </select>
  </div>
  <div class="col-md-2">
    <input type="search" class="form-control" placeholder="Search by student number" id="student_number">
  </div>
  <div class="col-md-1">
    <button class="btn btn-block bg-theme waves-effect waves-light"
      style="color: aliceblue;" onclick="view()">
      <i class="fa fa-eye m-r-5"></i> Search
    </button>
  </div>

  <br/><br/><br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Student No</th>
            <th>Student Name</th>
            <th>Kinder 1</th>
            <th>Kinder 2</th>
            <th>Grade 1</th>
            <th>Grade 2</th>
            <th>Grade 3</th>
            <th>Grade 4</th>
            <th>Grade 5</th>
            <th>Grade 6</th>
            <th>Balance</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody id="content">

        </tbody>
      </table>
    </div>

    <div id="formModal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true"
      style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">×</button>
            <h4 class="modal-title">Form 137 : <b id="student_name"></b></h4>
          </div>

          <div class="modal-body" id="previewGradesAll">

          </div>
        </div>
      </div>
    </div>