<div class="row">
  <div class="col-md-4">
    <h3>My Class</h3>
    <div class="form-group">
      <label for="Name">Grade Level</label>
      <div class="input-group">
        <div class="input-group-addon"><i class="ti-user"></i></div>
        <select class="form-control" id="grade_level_filter" onchange="changeStudent()">
          
        </select>
      </div>
    </div>
    <center>
    <h3>My Daily Schedule</h3>
      <h5 id="date">Date</h5>
      <ul class="list-group" id="list_schedules">
        
    </ul>
    </center>
  </div>
  <div class="col-md-8 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>SN</th>
          <th>Grade Level</th>
          <th>First Name</th>
          <th>Middle</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
